@{
  Layout = "_Layout"; 
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Cuisine;

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)</h3>

<ul>
@if (@Model.Restaurants.Count == 0)
{
  <p>No Restaurants found</p>
}

@foreach (Restaurant restaurant in @Model.Restaurants)
{
  <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId }) | @restaurant.Cuisine.Type</li>
}
</ul>

<p>@Html.ActionLink("Add a restaurant", "Create", "Restaurants")</p>
<p>@Html.ActionLink("Back to cuisines", "Index")</p>
<p>@Html.ActionLink("Edit Cuisine", "Edit", new { id = Model.CuisineId })</p>
<p>@Html.ActionLink("Delete Cuisine", "Delete", new { id = Model.CuisineId})</p>