@{
  Layout = "_Layout";
}

@using BestRestaurants.Models;
@model BestRestaurants.Models.Restaurant;

<h4>Add a new Restaurant</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address)

  @Html.LabelFor(model => model.Cuisine)
  @Html.DropDownList("CuisineId")
  @Html.Display("")
  <input type="submit" value="Add new Restaurant" />
}
<p>@Html.ActionLink("Show all restaurants", "Index")</p>
